/* landing-page styling */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    grid-template-rows: auto minmax(100%, 100svh) auto;
}

img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1/1;
}

#owl_carousel {
    width: 100% !important;
    position: fixed !important;
}
.Main {
   margin:0px ;
   padding: 0px;
}
.homeimg1 {
background-image: url("./Images/home_img1.jpg");
height: 100vh;
background-position:center;
background-size:cover;
background-attachment: fixed;
}
.homeimg2 {
background-image: url("./Images/home_img2.jpg");
height: 100vh;
background-position:center;
background-size:cover;
background-attachment: fixed;
}

.homeimg3 {
background-image: url("./Images/home_img3.jpg");
height: 100vh;
background-position:center;
background-size:cover;
background-attachment: fixed;
}